<div class="generic-modal">
    <article class="generic-modal-wrapper">
        <h2 class="margin-top-60px"></h2>
        <p></p>
        <div class="generic-modal-row margin-top-30px margin-bottom-60px">
            <div class="btn-generic-modal cancel box-shadow margin-left-auto margin-right-15px">
                <span>Recusar</span>
            </div>
            <div class="btn-generic-modal confirm box-shadow margin-right-auto">
                <span>Aceitar</span>
            </div>
        </div>
        <figure class="close-modal">
            <img src="../assets/images/icons/delete.svg" alt="Fechar Modal">
        </figure>
    </article>
</div>
